<h2>Alunos</h2>

<table>
    <tr>
        <td class="header"><strong>Id</strong></td>
        <td class="header"><strong>Nome</strong></td>
        <td class="header"><strong>Idade</strong></td>
        <td class="header"><strong>Cidade</strong></td>
    </tr>
    <tr *ngFor="let aluno of alunos" (click)="onSelect(aluno)">
        <td><span>{{aluno.id}}</span></td>
        <td>{{aluno.name}}</td>
        <td>{{aluno.age}}</td>
        <td>{{aluno.city}}</td>
    </tr>
</table>

<div *ngIf="selectedAluno">
    <h2>Detalhes do Aluno(a)</h2>
    <h2>{{ selectedAluno.name | uppercase }}</h2>

        <div class="details">
            <label for="name">Nome do Aluno: </label>
            <input class="input" id="name" [(ngModel)] = "selectedAluno.name" placeholder="Nome" type="text">
        </div>
        <div class="details">
            <label for="name">Idade do Aluno: </label>
            <input class="input" id="name" [(ngModel)] = "selectedAluno.age" placeholder="Idade" type="text">
        </div>
        <div class="details">
            <label for="name">Cidade do Aluno: </label>
            <input class="input" id="name" [(ngModel)] = "selectedAluno.city" placeholder="Cidade" type="text">
        </div>
</div>